 $white: #fff;
 $black: #0a0a0a;
 $default-primary-base-color: #a82222;
 $default-primary-dark-color: #5d0f08;
 $default-primary-light-color: #ff7575;
 $default-secondary-base-color: #eee;
 $default-secondary-dark-color: #929292;
 $default-secondary-light-color: #f8f8f8;
 $font-muli: 'Muli', sans-serif;
 $font-standard-size: 62.5%;